img.imageb {
    width: 20%;
    
}
div.bo{
   display: inline-block;
}

div.test{
    display: block;

}
small.s{
}
p.Card.Text{
    color:black
}
.bo{
    margin:19px;
    margin-top: 80px;
    margin-left: 6%;
    
}
.waa{
  color: black
  ;
}
body.N {
  background-image: linear-gradient(306deg, #c8c1c8, #c9c8c6, #f0f3ec, #cbd5c2);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.cardss{
	border:1px solid rgba(255, 255, 255, 0.5);
}

.pagination {
  display: inline-block;
  margin-left: 40%;
}

.pagination a {
  color: black;
  float: left;
  padding: 11px 18px;
  border-radius: 5px;

  text-decoration: none;
  border: 1px solid rgb(124, 117, 117); /* Gray */

}
.pagination a.active {
	background-color: #202921;
	color: white;
  }
  .pagination a:hover:not(.active) {background-color: #ddd;}

div.searchBar {
    padding: 4rem ;  
  }
  div.Searrch{
margin-left: 35%;
width: 30%;
height: 6%;
display: inline-block;
border-radius: 10%;

}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
  }
.pagination a:hover:not(.active) {background-color: #ddd;}
.h{
  float:left 
}
.card{
  background-color: white !important;
  border-radius: 7%;
}
.pourtoi{
  display:inline-block;
  margin-left: 8%;

}
.bxg{
  background-image: linear-gradient(25deg, #d0d4cc, #8a928a, #bcbbbc, #e8ecf1);}